<div class='search-form page-width'>
  <form
    action='{{ routes.search_url }}'
    method='get'
    role='search'
    class='search'
    onsubmit='return searchSubmit(event)'
  >
    <div class='field'>
      <svg
        class='Icon Icon--search'
        xmlns='http://www.w3.org/2000/svg'
        xmlns:xlink='http://www.w3.org/1999/xlink'
        width='17px'
        height='17px'
        viewBox='0 0 17 17'
        version='1.1'
      >
        <g id="Prestige" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Home-M-—-04" transform="translate(-256.000000, -16.000000)">
            <g id="Group-6" transform="translate(257.000000, 17.000000)" stroke="#000000" stroke-width="1.5">
              <circle id="Oval" cx="6" cy="6" r="6"></circle>
              <path d="M10.4166667,10.4166667 L14.6677284,14.6677284" id="Line-3" stroke-linecap="square"></path>
            </g>
          </g>
        </g>
      </svg>
      <label class='field__label visually-hidden' for='Search'>{{ 'general.search.search' | t }}</label>
      <input
        class='search__input field__input force-h2'
        id='Search'
        aria-label='Search'
        type='search'
        value='{{ search.terms | escape }}'
        placeholder='{{ 'general.search.search' | t }}'
        {%- if settings.predictive_search_enabled -%}
          role='combobox' aria-expanded='false' aria-owns='predictive-search-results-list'
          aria-controls='predictive-search-results-list' aria-haspopup='listbox' aria-autocomplete='list'
          autocorrect='off' autocomplete='off' autocapitalize='off' spellcheck='false'
        {%- endif -%}
      >
      <button type='submit' class='search__button field__button' aria-label='Search'>
        <span class='visually-hidden'>{{ 'general.search.submit' | t }}</span>
        <span class='tw-w-[20px] tw-h-auto'>{{ 'icon-ac-arrow.svg' | inline_asset_content }}</span>
      </button>
    </div>
  </form>
  <div id='Autocomplete' style='display:none'></div>
  <script>
    $g.autocomplete({
      page_context: {
        currency_id: window.theme.country_code,
      },
      input_selector: '#Search',
      dropdown_selector: '#Autocomplete',
    });
  </script>
  <script>
    function searchSubmit(e) {
      e.preventDefault();
      try {
        if (e.target[0].value) {
          window.location.href = `${window.theme.marketDirectory}/pages/search?q=${e.target[0].value}`;
        }
      } catch (e) {
        throw new Error(e.message);
      }
      return false;
    }
    if (document.querySelector(`form[action="${window.theme.marketDirectory}/pages/search"]`)) {
      document.querySelector(`form[action="${window.theme.marketDirectory}/pages/search"]`).on('submit', function (e) {
        e.preventDefault();
      });
    }
  </script>

  <style>
    .search-form {
      width: 100%;
    }
    #Autocomplete {
      display: block;
      position: fixed;
      left: 0;
      top: 58px;
      right: 0;
      background-color: #fff;
      width: 100vw;
      max-width: 100%;
      border: 1px solid #e5e5e5;
      z-index: 1000;
    }
    @media (min-width: 750px) {
      #Autocomplete {
        left: 50% !important;
        transform: translateX(-50%);
        top: 98px !important;
        border-top: solid 1px var(--color-grey);
        box-shadow: none !important;
      }
    }
    .search-form #Autocomplete:before {
      content: none;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      transform: translateX(-100%);
      z-index: -1;
      border-top: solid 1px rgba(255, 255, 255, 0.5);
    }
    .search-form::focus-within #Autocomplete:before {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .field__input:focus {
      box-shadow: none !important;
    }

    .acs_auto_prods {
      max-height: none;
      overflow: visible;
    }
    .acs_auto_prods_horizontal {
      display: grid !important;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      grid-gap: 15px;
      max-height: 400px;
      overflow-y: auto;
    }
    .nav-scrolled body.site-banner--active #Autocomplete {
      top: 46px !important;
    }
    .nav-scrolled body:not(.site-banner--active) #Autocomplete {
      top: 46px !important;
    }
    html:not(.nav-scrolled) body.site-banner--active #Autocomplete {
    }
    @media (max-width: 749px) {
      #shopify-section-header header .site-logo {
        z-index: 0 !important;
      }
      #Autocomplete {
        left: 0 !important;
        right: 0 !important;
        transform: none !important;
        max-width: 100% !important;
      }
      html:not(.nav-scrolled) body.site-banner--active #Autocomplete {
        top: 43px !important;
      }
      html:not(.nav-scrolled) body:not(.site-banner--active) #Autocomplete {
        top: 78px !important;
        width: 100% !important;
      }
      .nav-scrolled body.site-banner--active #Autocomplete {
        top: 25px !important;
      }
      .nav-scrolled body:not(.site-banner--active) #Autocomplete {
        top: 42px !important;
      }
      .acs_auto_prods_horizontal {
        grid-template-columns: repeat(2, 1fr) !important;
        max-height: 300px;
      }
    }
    #shopify-section-header header nav ul li:hover #Autocomplete a:after {
      content: none !important;
    }
  </style>
</div>
