{% comment %}
  Renders a featured collection in the mobile menu drawer

  Accepts:
  - block: {Object} Block object containing the featured collection settings

  Usage:
  {% render 'menu-drawer-featured-collection', block: block %}
{% endcomment %}

{%- liquid
  assign collection = block.settings.collection
  assign custom_image = block.settings.custom_image
  assign hover_image = block.settings.hover_image
  assign heading = block.settings.heading
  assign button_label = block.settings.button_label

  if heading == blank
    assign heading = collection.title
  endif

  if button_label == blank
    assign button_label = 'View Collection'
  endif
-%}

{%- if collection != blank -%}
  <div class='mega-menu__featured-item mega-menu__featured-collection' {{ block.shopify_attributes }}>
    <div class='mega-menu__featured-tile'>
      {%- liquid
        # Determine main image
        if custom_image != blank
          assign main_image = custom_image
          assign main_image_alt = custom_image.alt | default: heading
        elsif collection.featured_image
          assign main_image = collection.featured_image
          assign main_image_alt = collection.featured_image.alt | default: collection.title
        elsif collection.products.first.featured_media
          assign main_image = collection.products.first.featured_media
          assign main_image_alt = collection.title
        else
          assign main_image = null
        endif
      -%}

      {%- if main_image -%}
        <div class='mega-menu__featured-image{% if hover_image %} mega-menu__featured-image--with-hover{% endif %}'>
          <img
            class='mega-menu__featured-image-main'
            src='{{ main_image | image_url: width: 300 }}'
            alt='{{ main_image_alt | escape }}'
            width='200'
            height='240'
            loading='lazy'
          >
          {%- if hover_image -%}
            <img
              class='mega-menu__featured-image-hover'
              src='{{ hover_image | image_url: width: 300 }}'
              alt='{{ hover_image.alt | default: heading | escape }}'
              width='200'
              height='240'
              loading='lazy'
            >
          {%- endif -%}

          <a href='{{ collection.url }}' class='mega-menu__featured-button'>
            {{ button_label | escape }}
          </a>
        </div>
      {%- endif -%}

      <div class='mega-menu__featured-content'>
        <h3 class='mega-menu__featured-title'>
          <a href='{{ collection.url }}'>{{ heading | escape }}</a>
        </h3>

        {% if collection.products.size > 0 %}
          <div class='mega-menu__featured-price'>
            <div class='price'>{{ collection.products.size }} products</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{%- endif -%}
