{% comment %}
  Renders product swatch-picker

  Accepts:
  - product: {Object} product object.
  Usage:
  {% render 'product-swatch-picker', product: product %}
{% endcomment %}
{%- if product and product.metafields.options.colorsets.value != blank -%}
  <swatch-selects
    id='swatch-selects-{{ section.id }}'
    data-section='{{ section.id }}'
    {{ block.shopify_attributes }}
  >
    <fieldset class='js product-form__input product-form__input--pill'>
      <ul class='tw-flex tw-gap-2 tw-flex-col'>
        {% for colorset in product.metafields.options.colorsets.value %}
          <li class='tw-flex tw-flex-col tw-pb-4'>
            <div class='tw-py-3 tw-text-[12px] tw-leading-[15px] tw-font-normal tw-block tw-w-full'>
              {{ colorset.title }} Colors
            </div>
            <ul class='tw-flex tw-flex-row tw-gap-3 tw-flex-wrap'>
              {% for colorway in colorset.colorways.value %}
                {% assign swatch = colorway.swatch.value %}
                {% if colorway.product.value.url != blank %}
                  <li class='{% unless colorway.product.value.available %}disabled-swatch{% endunless %} {% if colorway.product.value.id == product.id %}tw-border-2 tw-border-[#000] tw-p-1 tw-rounded-[2px]{% endif %} tw-flex tw-flex-col tw-items-center tw-justify-center tw-overflow-hidden tw-rounded-[2px]'>
                    <a
                      href='{{ colorway.product.value.url }}'
                      class='tw-flex tw-flex-col tw-items-center tw-justify-center'
                    >
                      <img
                        class='tw-image-cover tw-w-[32px] tw-h-[24px] {% if colorway.product.value.id == product.id %} lg:tw-w-[33px] lg:tw-h-[20px]{% else %} lg:tw-w-[40px] lg:tw-h-[28px]{% endif %} tw-overflow-hidden'
                        src='{{ swatch.image.value | image_url: width: 96 }}'
                        alt='{{ swatch.title }}'
                        width='48'
                        height='32'
                      >
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </fieldset>
  </swatch-selects>
{%- endif -%}
