{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }

  @media screen and (max-width: 749px) {
    #collection-nav {
      display: flex !important;
    }
    .collection-hero__inner {
      grid-template-columns: 1fr !important;
      row-gap: 0 !important;
    }
  }
{%- endstyle -%}

<div class='collection-hero page-width{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient'>
  <div class='collection-hero__inner page-width grid product-grid grid--1-col-tablet-down grid--3-col-desktop {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'>
    <div class='grid__item collection-hero__text-wrapper'>
      <h1 class='collection-hero__title'>
        <span class='visually-hidden'>{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div
          class='collection-hero__description rte tw-w-full tw-text-[12px] tw-leading-[15px] lg:tw-text-[14px] lg:tw-leading-[17px]'
        >
          {{ collection.description }}
        </div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class='grid__item collection-hero__image-container media gradient'>
        <img
          srcset='
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          '
          src='{{ collection.image | image_url: width: 750 }}'
          sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)'
          alt='{{ collection.image.alt | escape }}'
          width='{{ collection.image.width }}'
          height='{{ collection.image.height }}'
        >
      </div>
    {%- endif -%}

    <!-- Image -->
    <div class='grid__item'>
      <span class='tw-sr-only'>{{ collection.title | escape }}</span>
    </div>

    {%- if section.settings.show_collection_filters -%}
      <div
        id='shopify-section-plp-navigation'
        class='grid__item shopify-section plp-navigation-section tw-w-full tw-flex tw-flex-col tw-justify-end tw-my-[1.5rem] lg:tw-mb-[4rem] lg:tw-mt-0'
      >
        <nav id='collection-nav' aria-label='Collection Navigation'>
          <div class='collection-nav collection-nav-container tw-w-full'>
            <div class='shop-filterz tw-flex tw-gap-4 tw-w-full'>
              <!-- sort by list -->
              <div class='plp-products-sort tw-w-full'>
                <div class='filter-triggerzz tw-border tw-border-[#ECECEC] tw-rounded-[5px] !tw-px-6 tw-py-4'>
                  <label for='sort'><span class='visually-hidden'>Sort:</span></label>
                  <select name='sort' onchange='graphenehc.reload({url: this.value});' class='!tw-w-full'>
                    <option disabled='disabled' selected='selected' value=''>Sort</option>

                    <option value='/collections/bestsellers/men'>Featured</option>
                    <option value='/collections/bestsellers/men?sort=average_purchases%7edesc'>Best Selling</option>
                    <option value='/collections/bestsellers/men?sort=new_in%7edesc'>Newest</option>
                    <option value='/collections/bestsellers/men?sort=title%7easc'>Name (A-Z)</option>
                    <option value='/collections/bestsellers/men?sort=title%7edesc'>Name (Z-A)</option>
                    <option value='/collections/bestsellers/men?sort=price%7easc'>Lowest Price</option>
                    <option value='/collections/bestsellers/men?sort=price%7edesc'>Highest Price</option>
                  </select>
                </div>
              </div>
              <div class='plp-products-filter filter-triggerzz tw-border tw-border-[#ECECEC] tw-rounded-[5px] !tw-px-6 tw-py-4'>
                <button class='plp-products-filter--trigger' name='filter' onclick="this.classList.toggle('open');">
                  <span>Filter</span>

                  <span class='tw-w-4 tw-h-4 tw-mr-8'>
                    {{ 'icon-caret.svg' | inline_asset_content }}
                  </span>
                </button>
              </div>
              <div class='plp-products-view tw-w-full'>
                <div class='filter-triggerzz tw-border tw-border-[#ECECEC] tw-rounded-[5px] !tw-px-6 tw-py-4'>
                  <label for='view'><span class='visually-hidden'>Sort:</span></label>
                  <select name='view' onchange='graphenehc.reload({url: this.value});' class='!tw-w-full'>
                    <option disabled='disabled' selected='selected' value=''>View</option>
                    <option value='/collections/bestsellers/men'>Flats</option>
                    <option value='/collections/bestsellers/men?view=average_purchases%7edesc'>Lifestyle</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_filters",
      "default": true,
      "label": "Show Filters"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
